.new_address_form{
    position: absolute;
    top: 200px;
    left: 600px;
    
   display: flex;
   flex-direction: column;
    width: 700px;
    height: 500px;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0 0 10px 10px rgb(223, 223, 223);
    justify-content: center;
    border-radius: 10px;
}
.orderbody_address{

        position: relative;
        display: flex;
        filter: blur(5px);
}
.new_address_form h1{
    color: rgb(246, 40, 40);;
}